[submodule "android"]
	path = android
	url = https://github.com/webee/react-native-xrpc-android.git
	branch = master
[submodule "ios"]
	path = ios
	url = https://github.com/webee/react-native-xrpc-ios.git
	branch = master
